body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}

.delete-button:hover {
    background-color: #f3f3f3;
}

li {
    margin: 0.25rem 0;
}

.float-right {
    float: right;
}
